	.split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-cursor: default;
    
}
.split-pane{
	-fx-background-color: black;
}
#hour{
	-fx-background-color: gray  ;
	-fx-min-width: 150;
	-fx-max-width: 150;
	-fx-border-radius: 5;
}
.text-field{
	-fx-cursor: default;
}
.text-field:disabled{
	-fx-cursor: default;
	-fx-opacity: 1.0;
}