GridPane{
	-fx-hgap: 2;
	-fx-vgap: 2;
	-fx-min-height: 80;
	-fx-max-height: 80;
	-fx-min-width: 120;
	-fx-max-width: 120;
}

#redHeadPhone{
	-fx-background-color: crimson ;
}
#greenHeadPhone{
	-fx-background-color: greenyellow ;
	
}
#sideArrow{
	-fx-min-width: 20;
	-fx-max-width: 20;
}
#upDownArrow{
	-fx-min-height: 20;
	-fx-max-height: 20;
}
#OK{
	-fx-min-width: 50;
	-fx-max-width: 50;
	-fx-min-height: 40;
	-fx-max-height: 40;
}
